<div data-refresh-list-target="list">
  <% @drugs.each do |drug| %>
    <div class="card-container">
      <div class="card-product">
        <% if drug.pic.attached?%>
          <%=cl_image_tag drug.pic.key%>
        <%else%>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <%end%>
        <div class="card-product-infos">
          <h2><%= drug.formated_name %></h2>
          <p><%= "Safe for +#{drug.age} yrs old" %></p>
        </div>
      </div>
      <div class="fixed-element hidden">
        <div class="exit-thing-div"><i class="fas fa-times exit-thing"></i></div>
        <div class="add-drugs-div">
          <h2><%= drug.formated_name %></h2>
          <p><%= "+#{drug.age} years" %></p>
          <% unless current_user.orders.last.drugs.include?(drug) %>
            <%= link_to order_ordered_drugs_path(current_user.orders.last, params: { drug_id: drug.id }), method: :post do %>
              <button class="btn-add-drug">Add to Order</button>
            <% end %>
          <% else %>
            <p class="btn-non-add-drug">This drug is already in your basket </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
