<div class="container">
  <div class="view">
    <div class="title">
      <h2>Medecines</h2>
    </div>

    <div class="two-columns-cards">
      <% @drugs.each do |drug| %>
        <div class="card-drug">
          <div class="topcard">
            <% if drug.pic.attached?%>
              <%=cl_image_tag drug.pic.key%>
            <%else%>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <%end%>
          </div>
          <div class="card-drug-infos">
            <div >
              <h2><%= drug.formated_name %></h2>
              <span><%= @order.drug_count(drug) %></span>
            </div>
            <h2 class="card-drug-plus">
              <%= link_to order_ordered_drugs_path(@order, params: { drug_id: drug.id, pharmacy_id: params[:pharmacy_id] }), method: :post do %>
                <%= image_tag("plus.png", border: 0, class: 'icon') %>
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
