
<div class="container">
  <div class="view">


    <%= form_tag drugs_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placehorlder: "Search for a drug"
      %>
      <%= hidden_field_tag :pharmacy_id, @pharmacy.to_s %>
      <%= submit_tag "Search", class: "button_prescription" %>
    <% end %>

    <div class="two-columns-cards">
      <% @drugs.each do |drug| %>
        <div class="card-drug">
          <div class="topcard">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          </div>
          <div class="card-drug-infos">
            <div >
              <h2><%= drug.formated_name %></h2>
              <p>Cart: <%= @order.drug_count(drug) %></p>
            </div>
            <h2 class="card-drug-plus">
              <%  %>
              <%= link_to order_ordered_drugs_path(@order, params: { drug_id: drug.id, pharmacy_id: params[:pharmacy_id] }), method: :post do %>
                <%= image_tag("plus.png", border: 0, class: 'icon') %>
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
