<div class="container">
  <div class="view">

  <div class="pharma-title">
    <h2><%= @pharmacy.name  %></h2>
  </div>

    <%= form_tag drugs_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control searchadrug",
        placehorlder: "Search for a drug"
      %>
      <%= hidden_field_tag :pharmacy_id, @pharmacy.to_s %>
      <%= button_tag :submit, class: "button_prescription" do %>
        <%= image_tag('download.png') %>
      <% end %>
    <% end %>

    <div class="two-columns-cards">
          <% @drugs.each do |drug| %>
            <div class="card-drug">
              <div class="topcard">
                <% if drug.pic.attached?%>
                  <%=cl_image_tag drug.pic.key%>
                <%else%>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <%end%>
              </div>
              <div class="card-drug-infos">
                <div >
                  <h2><%= drug.formated_name %></h2>
                </div>
                <h2 class="card-drug-plus">
                <% if OrderedDrug.find_by(drug: drug, order: current_user.orders.last) %>
                  <%= link_to image_tag("cocher.png", border: 0, class:'icon'), order_ordered_drugs_path(current_user.orders.last, params: { drug_id: drug.id }), method: :post %>
                  <% else %>
                  <%= link_to image_tag("plus.png", border: 0, class:'icon'), order_ordered_drugs_path(current_user.orders.last, params: { drug_id: drug.id }), method: :post %>
                <% end %>
                </h2>
              </div>
            </div>
          <% end %>
        </div>
  </div>
</div>
