<div class="container">
  <div class="view">
    <div class="pharma-title">
      <h2><%= @pharmacy.name  %></h2>
    </div>
    <%= form_tag drugs_path, method: :get, class: "drug-index-search" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control searchadrug",
        placeholder: "Enter a drug's name"
      %>

      <%= hidden_field_tag :pharmacy_id, @pharmacy.id.to_s %>
      <%= submit_tag "☌", class: "drug-search-bard-button" %>

    <% end %>
    <div class="two-columns-cards">
      <% @drugs.each do |drug| %>
        <%= render 'drug_card', drug: drug %>
      <% end %>
    </div>
  </div>
</div>
