<div class="pharmacy-view">
  <div id="map", data-markers="<%= @markers.to_json %>", data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @pharmacies.each do |pharmacy| %>
          <div class="swiper-slide" id="pharmacy_<%= pharmacy.id %>">
          <div class="pharmacy-card-slider">
            <%= link_to orders_path(pharmacy_id: pharmacy.id), method: 'POST' do %>
              <h2><%= pharmacy.name %></h2>
              <p><%= pharmacy.address %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
