<div class="pharmacy-view">
  <h1>Pharmacies</h1>
  <div id="map"
              class="my-2"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="pharmacy-cards">
    <% @pharmacies.each do |pharmacy| %>
      <%= link_to pharmacy_path(pharmacy) do %>
        <div class="pharmacy-card">
          <div class="pharmacy-card-infos">
            <div>
              <h2><%= pharmacy.name %></h2>
              <p><%= pharmacy.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
