<ul class="view">
  <li>
    <a href="" class="card">
        <div id="map"
                  class="my-4"
                  style="width: 600px; height: 400px; border-radius: 7px;"
                  data-markers="<%= @markers.to_json %>"
                  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      <div class="card__overlay">
        <div class="card__header">
          <div class="card__header-text">
            <h3 class="card__title"><%= @pharmacy.name%></h3>
            <span class="card__status"><%= @pharmacy.address%></span>
          </div>
        </div>
        <p class="card__description"><%= @pharmacy.description%></p>
      </div>
      <div>
      <%= link_to "More drugs", drugs_path(pharmacy_id: @pharmacy.id), class:"button_prescription", style:"background-color:#00B8F5"%>
      <%= link_to "Go back to Pharmacies", pharmacies_path, class:"button_prescription"%>
      </div>
    </a>
  </li>
</ul>