<div class="footer-wrapper">
  <div class="footer">
    <%= link_to root_path, class: "footer-btn" do %>
      <%= image_tag "home.png" %>
    <% end %>
    <%= link_to root_path, class: "footer-btn" do %>
      <%= image_tag "scan.png" %>
    <% end %>
    <%= link_to root_path, class: "footer-btn" do %>
      <%= image_tag "shopping-cart.png" %>
    <% end %>
    <%= link_to root_path, class: "footer-btn" do %>
      <%= image_tag "dashboard.png" %>
    <% end %>
  </div>
</div>
