<div class="view">
  <h1>Order review</h1>
    <div class="main">
      <% if @order.prescriptions.attached? %>
        <% @order.prescriptions.each do |prescription| %>
          <div class=main2>
              <%= cl_image_tag prescription.key, class: 'card-prescription' %>
              <p style="width: 230px;"><em>Click on the image to add the drugs to the customer's cart</em></p>
          </div>
          <script>
            document.querySelector(".card-prescription").addEventListener("click", function() {
              document.querySelector('#modal-btn').click()
            });
          </script>
          <!-- Modal prescription process -->
          <button type="button" id="modal-btn" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Customer's prescription</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= cl_image_tag prescription.key, style: 'width: 100%;' %>
                </div>
              </div>
            </div>
          </div>
          <!-- end Modal -->
        <% end %>
      <% end %>
    </div>
  <% @ordered_drugs.each do |ordered_drug| %>
    <div class="cart-card">
      <% if ordered_drug.drug.pic.attached?%>
        <%=cl_image_tag ordered_drug.drug.pic.key%>
      <%else%>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <%end%>
      <div class="cart-card-infos">
        <h2><%=ordered_drug.drug.name.downcase.capitalize%></h2>
        <div class=cart-card-bottom>
          <%= simple_form_for ordered_drug do |f| %>
            <%= f.input :price, placeholder: '$0.99', label: false, as: :float %>
            <%= f.button :submit, value: '' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to ready_status_path(@order) do %>
    <button class="btn-checkout">Send invoice to customer</button>
  <% end %>
</div>
