<div class="container order-drugs pb-5" id="ordered_wrap">
<%= link_to 'Make Completed', "/orders/#{@order.id}/complete", class: 'btn btn-ghost' %>
<h2><%= @order.status %></h2>
  <% @ordered_drugs.each do |order_drug| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%=order_drug.drug.name%></h2>
        <p><%=order_drug.drug.description%></p>
      </div>
      <h3> <%= order_drug.price %> </h3>
    </div>
  <% end %>
</div>
