<div class="view">
  <div class="pharmacy-show-top">
    <%= link_to "< Continue shopping", drugs_path, class:"button-pharma-index"%>
  </div>
    <h1>Cart</h1>
    <div class="main">
      <%= simple_form_for(order) do |f|%>
        <%= f.input :prescriptions, as: :file, input_html: { multiple: true, class:'d-none'}, label: "Add my prescription" %>
        <%= f.submit "Go", class:'btn-prescription' %>
      <% end %>
  </div>
  <div class=main2>
      <% if order.prescriptions.attached?%>
        <%@order.prescriptions.each do |prescription| %>
          <div class="cart-card">
            <%= cl_image_tag prescription.key %>
            <div class="cart-card-infos">
              <h2>Your prescription</h2>
            </div>
            <div class="cart-card-icons">
              <%= link_to method: :delete do %>
                <%= image_tag "trash.png" %>
              <% end %>
            </div>
          </div>
        <%@order.prescriptions.each do |prescription|%>
          <%= link_to destroy_prescription_order_path(order, prescription: prescription), method: :patch, remote: true do%>
            <%= cl_image_tag prescription.key, class: 'card-prescription' %>
          <%end%>
        <%end%>
      <%end%>
  </div>
    <% @ordered_drugs.each do |ordered_drug| %>
      <div class="cart-card">
        <% if ordered_drug.drug.pic.attached?%>
          <%=cl_image_tag ordered_drug.drug.pic.key%>
        <%else%>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <%end%>
        <div class="cart-card-infos">
          <h2><%=ordered_drug.drug.name.downcase.capitalize%></h2>
          <div class=cart-card-bottom>
            <%= link_to minus_ordered_drug_path(ordered_drug) do %>
              <%= image_tag "moins.png" %>
            <% end %>
            <p><%= ordered_drug.quantity %></p>
            <%= link_to plus_ordered_drug_path(ordered_drug) do %>
              <%= image_tag "plus.png" %>
            <% end %>
          </div>
        </div>
        <div class="cart-card-icons">
          <%= link_to ordered_drug_path(ordered_drug), method: :delete do %>
            <%= image_tag "trash.png" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <%= link_to pending_status_path(@order) do %>
    <button class="btn-checkout">Validate shopping cart</button>
  <% end %>
</div>
